body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 200px;
    background: #333;
    color: #09475A;
    height: 100vh;
    overflow: auto;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}
header, footer {
    background: #B0D2DD;
    padding: 10px;
    text-align: center;
}
main {
    margin-top: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
}

thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
}

tbody td {
    border-bottom: 1px solid #dddddd;
    padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


