body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* Enables scrolling */
}

.sidebar img {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.info-display {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, footer {
    background: #B0D2DD;
    padding: 10px;
    text-align: center;
}

main {
    margin-top: 20px;
    padding-left: 270px; /* Add padding to ensure content is not hidden behind the sidebar */
}

.content {
    flex-grow: 1;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
}

thead th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
}

tbody td {
    border-bottom: 1px solid #dddddd;
    padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .sidebar {
        width: 180px; /* Smaller sidebar for smaller screens */
    }

    main {
        padding-left: 200px; /* Adjust padding to match the new sidebar width */
    }

    .sidebar img {
        max-width: 100%; /* Ensure images resize properly */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure images are not inline */
    }
}

