body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
}

.sidebar {
    width: 200px;
    background: #333;
    color: #fff;
    height: 100vh;
    overflow: auto;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li a {
    color: #09475A;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

header, footer {
    background: #B0D2DD;
    padding: 10px;
    text-align: center;
}

main {
    margin-top: 20px;
}
